---
layout: default
title: Members
---
<h1>Members</h1>

<ul>
  {% for author in site.authors %}
    <li>
      <h2><a href="{{ author.url | prepend: site.baseurl }}">{{ author.name }}</a></h2>
      <h3>{{ author.position }}</h3>
      <p>{{ author.content | markdownify }}</p>
    </li>
  {% endfor %}
</ul>
